name: flutter_terminal_ui
description: "This package used to show the terminal widget in your app"
version: 0.0.4
homepage: https://github.com/AsmarV/flutter_terminal_ui

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter


  intl: ^0.20.2
  equatable: ^2.0.7
  flutter_bloc: ^9.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
